extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Kyle Roberts

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Whether it's a board game, a video game, a choose-your-own-adventure story, an art installation, or a ride at DisneyWorld, I've always been interested in interactive experiences and how they work. I love how programming can make that happen and how the web can help reach a large audience!
            | Looking for an exciting group of people to work with to create amazing things and to keep growing in the process!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li JavaScript 
          li HTML
          li CSS
          li NPM
          li Git
          li Express 
          li Node JS
          li Pug
          li AJAX
          li Object Oriented programming
        h6 Contact Info
        ul
          li 404-643-7686
          li emailkyleroberts@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/kyleroberts') LinkedIn
        a.button.expanded(href='https://github.com/krob79/') GitHub
        a.button.expanded(href='https://twitter.com/kyle_roberts') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  