<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,800;1,400&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/foundation.css')
    link(rel='stylesheet', href='/static/css/style.css')
    link(rel='stylesheet', href='/static/css/style2.css')
    
  body
    
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          .cell.shrink
            .wrapper
              #logo
                svg#newlogo(data-name='Layer 12' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 200 350' color-interpolation-filters='sRGB')
                  defs
                    filter#red-glow(filterunits='userSpaceOnUse' x='-50%' y='-50%' width='200%' height='200%')
                      // blur the text at different levels
                      fegaussianblur(in='SourceGraphic' stddeviation='5' result='blur5')
                      fegaussianblur(in='SourceGraphic' stddeviation='10' result='blur10')
                      fegaussianblur(in='SourceGraphic' stddeviation='20' result='blur20')
                      fegaussianblur(in='SourceGraphic' stddeviation='30' result='blur30')
                      fegaussianblur(in='SourceGraphic' stddeviation='50' result='blur50')
                      // merge all the blurs except for the first one
                      femerge(result='blur-merged')
                        femergenode(in='blur10')
                        femergenode(in='blur20')
                        femergenode(in='blur30')
                        femergenode(in='blur50')
                      // recolour the merged blurs red
                      fecolormatrix(result='red-blur' in='blur-merged' type='matrix' values='1 0 0 0 0\
                      0 0.06 0 0 0\
                      0 0 0.44 0 0\
                      0 0 0 1 0')
                      femerge
                        femergenode(in='red-blur')
                        // largest blurs coloured red
                        femergenode(in='blur5')
                        // smallest blur left white
                        femergenode(in='SourceGraphic')
                      // original white text
                  polygon.kshape(points='4.6,7.7,4.8,340.6,52.2,340.6,52.3,233.8,76,251.5,99.7,269.2,99.5,340.5,147.3,340.6,147.4,245.6,52.8,174,100.1,138.3,147.5,102.6,147.6,55.5,99.9,55.5,99.7,79,70,101.3,52.4,114.7,52.4,7.7,4.6,7.7')
                  polygon.rshape(points='52.4,7.9,52.4,114.2,99.8,79,99.5,55.2,147.2,55.1,147.4,102.5,99.8,138.4,52.4,174,147.4,245.8,147.5,340.6,194.9,340.4,194.9,221.7,133.2,176.9,194.8,126.7,195,7.8,52.4,7.9,52.1,233.4,52.4,340.6,99.9,340.4,99.8,269.4,52.1,233.4')

            img.thumbnail(src='/static/img/linkedIn_profilePic.jpg')
          .cell.auto
            
            h5 Kyle Roberts

            p.text-light
              | I'm a programmer, looking to create cool experiences for others! I enjoy the challenge of programming and learning new methods and systems to make things work!

            a(href='/about') Learn More →
            

    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
          button.menu-icon(type='button', data-toggle='my-info')

          span.title-bar-title Kyle Roberts
      block content
        

      
  script(src='/static/js/vendor/jquery.js')
  script(src='/static/js/vendor/what-input.js')
  script(src='/static/js/vendor/foundation.js')
  script(src='/static/js/scripts.js')