<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,800;1,400&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/foundation.css')
    link(rel='stylesheet', href='/static/css/style.css')
  body
    
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          .cell.shrink
            #logo
              svg#newlogo(data-name="Layer 12" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 152.72 268.13")
                title logo
                polygon(points="0.5 0.58 0.5 267.56 36.43 267.42 36.3 180.84 75.38 210.9 74.95 267.32 112.97 267.32 113.32 191.53 36.54 134.1 112.87 77.92 112.87 38.78 74.71 38.78 74.71 57.84 37.54 87.47 37.54 0.5 0.5 0.58" style="fill:none;stroke:#b5b5b6;stroke-miterlimit:10")
                polygon(points="75.14 267.28 75.58 210.86 36.3 180.84 36.43 267.42 75.14 267.28" style="fill:#b5b5b6")
                polygon(points="152.72 268.13 151.78 172.31 94.39 134.12 151.78 96.05 151.78 0.44 37.55 0.46 37.55 87.42 74.72 57.8 74.72 38.74 112.88 38.74 112.87 77.88 36.55 134.06 113.33 191.49 112.98 267.28 152.72 268.13" style="fill:#b5b5b6")

            img.thumbnail(src='/static/img/linkedIn_profilePic.jpg')
          .cell.auto
            
            h5 Kyle Roberts

            p.text-light
              | I'm a programmer, looking to create cool experiences for others! I enjoy the challenge of programming and learning new methods and systems to make things work!

            a(href='/about') Learn More →
            

    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
          button.menu-icon(type='button', data-toggle='my-info')

          span.title-bar-title Kyle Roberts
      block content
        

      
  script(src='/static/js/vendor/jquery.js')
  script(src='/static/js/vendor/what-input.js')
  script(src='/static/js/vendor/foundation.js')
  script(src='/static/js/scripts.js')